body{
    background-image: url(../aseets/fondo3.jpg);
}

/*Efectos de la página principal*/
main{
    width: 1000px;
    min-height: 400px;
    background-color: rgb(20, 19, 19);
    position: relative;
    margin: auto;
    *border: 1px solid #000;
}
/*Encabezado del menú*/
header.principal{
    position: relative;
    width: 1000px;
    height: 180px;
    border-bottom: 1px solid #000;
    /*Color de fondo del  menú (home, home2)*/
    background-color:white;
}

header.principal div.logo{
    position: relative;
    width: 250px;
    height: 150px;
    top: 24px;
    left: 24px;
    /*Traer archivo externo*/
    background-image: url(../aseets/halo1.jpg);
    /*Ajustar el fondo*/
    background-size: 100%;
    /*Para que el fondo no se repita*/
    background-repeat: no-repeat;
}

header.principal h1{
    position: absolute;
    top: 50px;
    left: 300px;
    /*Definir tipo de letra del título*/
    font-family: tahoma;
}
/*Belleza de los botones del nav*/
nav.nav_horizontal{
    /*Definir borde del botón*/
    border-bottom: 1px solid black;
    /*Color de caja del nav*/
    background-color: rgb(97, 19, 19);
    /*Definir tipo de letra*/
    font-family: tahoma;
}

nav.nav_horinzontal ul{
    position: relative;
    border: 0px;
    padding: 0px;
    margin: 0px;

}
nav.nav_horizontal li{
    position: relative; border: 0px; padding: 0px; margin: 0px;
    list-style: none;
    display: inline-block;
    vertical-align: top;
}

/*Diseño de home y home1*/
nav.nav_horizontal li a{
    position: relative;
    /*Especifica el tipo de cuadro, en caso block: bloque*/
    display: block;
    /*Margen del interior del nav*/
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    /*Grosor para las letras del texto; normal o negrilla(bold)*/
    font-weight: bold;
}

nav.nav_horizontal li a:hover{
    /*color de fondo del recuadro del home y home2*/
    background-color: black;
    /*Color de letras del nav*/
    color: rgb(180, 181, 194);
} 

nav.nav_horizontal li a:active{
    background-color: white;
    color: black;
}

/*Belleza de la caja de contenido o imagén situada en diapositiva*/
#slideshow{
    position: relative;
    /*Color de fondo*/
    background-color: white;
    /*dotted=punteado*/
    border: 2px dotted #000;
    width: 700px;
    height: 250px;
    margin: 50px auto;
}

/*Belleza de los botones del contenido o cuerpo de página*/
#slideshow button{
    /*Color de fondo del radio o circulo*/
    background-color:white ;
    /*Color de letras del radio o circulo*/
    color: black;
    /*Ancho del radio o circulo*/
    width: 50px;
    /*Alto del radio o circulo*/
    height: 50px;
    /*Borde del radio o circulo*/
    border: 1px solid rgb(0, 0, 0);
    /*Colocar el botón en forma de radio o circulo*/
    border-radius: 50%;
    /*Manito sobre el cursor del botón*/
    cursor: pointer;
    position: absolute;
    top: 100px;
}

#slideshow button:hover{
    /*Para cambiar color con el cursor*/
    background-color:black;
    /*Color de letras al colocar cursor*/
    color: white;
}

button.prev{
    left: -25px;
}

button.next{
    right: -25px;
}

.col{vertical-align: top;
    display: inline-block;
    border: 1px solid #000;
    width: 328px;
    min-height: 200px;
    background-color: rgba(255, 255, 255, .7);
    border-top: 2px solid rgb(2, 10, 4);
    margin: 0px 0px 20px;
}

.col header{
    text-align: center;
}

.col header img{
    width: 60px;
    height: 60px;
    border: 2px solid rgb(58, 68, 61);
    margin-top: -30px;
    background-color: white;
    border-radius: 50%;
}

div.col{
    position: relative;
    margin: auto; /*AQUI*/
}

div.cols p{
    padding: 20px;
    text-justify: auto;
}

.pie{
    padding: 20px;
    text-align: center;
    position: relative;
    display: inline-block;
    width: 96%;
    height: 15px;
    /*color de fondo*/
    background-color: rgb(117, 20, 20);
    /*Borde superior*/
    border-top: 1px solid rgb(2, 10, 4);
}
